* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);
}

/* FORM */
.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  color: var(--color-light);
  padding: 20px;
}

.registerTitle {
  font-size: 40px;
  color: var(--color-primary);
  margin-bottom: 20px;
  text-align: center;
}

.registerForm {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-variant);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.registerForm > label {
  margin: 10px 0;
  color: var(--color-light);
}

.registerInput {
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid var(--color-bg-variant);
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.registerInput:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.registerButton:hover {
  background-color: var(--color-primary-variant);
  transform: scale(1.02);
}

@media screen and (max-width: 480px) {
  .register {
    padding: 15px;
  }

  .registerForm {
    padding: 20px;
  }

  .registerTitle {
    font-size: 36px;
  }

  .registerInput {
    padding: 10px;
    font-size: 14px;
  }

  .registerButton {
    font-size: 16px;
    padding: 10px;
  }
}
